body {
  margin: 0;
  padding: 0;
  font-size: 1.2em;
  background: #5298FC;
  color: #fff;
  font-family: 'Quicksand', sans-serif; }

h2 {
  padding: 0;
  margin: 0;
  text-align: center;
  margin-top: 1em; }

div {
  margin-top: 5em;
  background: #2A528B;
  margin-right: 20%;
  margin-left: 20%;
  border-radius: 32px;
  border: 22px solid #407FD9; }

form {
  width: 80%;
  margin-right: 10%;
  margin-left: 10%;
  letter-spacing: 0.0625em; }
  form input {
    box-sizing: border-box;
    width: 100%;
    border-radius: .7em;
    height: 3em;
    background: #407FD9;
    border: none; }
  form button {
    font-family: 'Quicksand', sans-serif;
    border: none;
    border-radius: .7em;
    background: #407FD9;
    height: 2.4em;
    margin-top: 1em;
    outline: none;
    width: 10em;
    color: #fff;
    font-size: .7em;
    margin-bottom: 1em; }

h3 {
  margin-left: 10%;
  margin-right: 10%; }
